body {
    background: #000000;
    color: #c5c8c6;
    font-family: arial, helvetica, sans-serif;
    font-size: 10pt;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 700px;
    text-align: center;
}

#footer {
    position: relative;
    bottom: 0;
    max-width: 700px;
    height: 50px;
    text-align: center;
}

div {
    background-color: #000000;
    display: block;
    max-width: 700px;
}

.post {
    font-weight: bold;
    text-align: left;
    margin-left: 0;
    padding-top: 15px;
    padding-bottom: 30px;
}

a:visited{
    color: #c6c8c6;
}

a{
    text-decoration: none;
    color: #c6c8c6;
}

img {
    max-width: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}


nav {
    background-color: #000000;
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    padding-right: 15px;
}
